### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [2]:
import pandas as pd

#### Task 1

In [35]:
path_movies = 'ml-latest\movies.csv'
df_movies = pd.read_csv(path_movies)

In [9]:
path_ratings = r'ml-latest\ratings.csv'
df_ratings = pd.read_csv(path_ratings)

In [57]:
print(f"A movie with the biggest number of 5.0 ratings is \
{df_movies[df_movies['movieId'] == df_ratings[df_ratings['rating'] == 5.0].movieId.value_counts().head(1).index.values[0]].title.values[0]}")

A movie with the biggest number of 5.0 ratings is Shawshank Redemption, The (1994)

#### Task 2

In [60]:
path_power =  r'C:\Users\Пользователь\Desktop\Python\PYDA_8\Lesson 12\power.csv'
df_power = pd.read_csv(path_power)

In [82]:
df_power[(df_power['country'].isin(['Lithuania', 'Latvia', 'Estonia'])) & (df_power['category'].isin([4, 12, 21])) &\
        (df_power['year'] > 2004) & (df_power['year'] < 2011) & (df_power['quantity'] > 0)]\
            [['country', 'quantity']].groupby('country').sum().sort_values('quantity', ascending = False)

           quantity
country
Lithuania  122296.0
Estonia     63440.0
Latvia      54844.0

#### Task 3

In [90]:
df_gosbankkurs_USSR = pd.read_html('https://www.cbr.ru/currency_base/GosBankCurs/', thousands='.',decimal=',')[0]

In [91]:
df_gosbankkurs_USSR.head(10)

   Единиц                  Валюта   Курс
0     100  Австралийских долларов  35.46
1    1000   Австрийских шиллингов  43.65
2    1000     Бельгийских франков  14.89
3   10000         Греческих драхм  17.63
4    1000            Датских крон  80.39
5     100              Доллар США  54.47
6     100                    Евро  60.06
7     100       Ирландских фунтов  76.26
8   10000         Исландских крон  43.00
9   10000         Испанских песет  36.10